.container {
  position: relative;
}
.container-nav {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}
.logo {
  position: relative;
  top: 10px;
  padding: 10px;
}
.container-nav div:last-child ul {
  display: flex;
  list-style: none;
}
.btn {
  margin-top: 25px;
  display: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-close {
  color: white;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}

/*container-menu-lateral*/
.container-menu-lateral {
  position: fixed;
  display: none;
  width: 100%;
  background: black;
  height: 100vh;
  z-index: 4;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  transition: display 0.3s ease-in;
}
.container-visible {
  display: block;
  transition: display 0.3s ease-in-out;
}
.container-menu-lateral > div:first-child {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.container-menu-lateral > div:last-child {
  margin-top: 150px;
}
.container-menu-lateral > div:last-child ul {
  list-style: none;
  color: inherit;
}
.container-menu-lateral > div:last-child ul li {
  /* border: 1px solid yellow; */
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .btn {
    display: block;
  }
  .container-nav {
    justify-content: space-between;
    padding: 0 20px;
  }
  .container-nav div:last-child ul {
    display: none;
  }
  .container-nav {
  }
  .btn-toogle {
    display: flex;
  }
}
